/*.content {*/
/*    !*padding: 10px;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.img {*/
/*    width: 230px;*/
/*    height: 150px;*/
/*    border-radius: 10px;*/
/*}*/


.profileInfo {
    display: flex;
    margin-bottom: 20px;
    padding: 25px;
    background-color: #FDFDFD;
}


.userAvatar {
    max-width: 190px;
    max-height: 190px;
    border-radius: 50%;
    padding-right: 20px;
}